[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
seaborn = "*"
matplotlib = "*"
sklearn = "*"
tensorflow-macos = "*"
tensorflow-metal = "*"
h5py = "*"
opencv-python = "*"
line-profiler = "*"
tensorflow-datasets = "*"
nltk = "*"
pyjokes = "*"
spacy = "*"
cowsay = "*"
affinda = "*"
pypdf2 = "*"
wordcloud = "*"

[dev-packages]
notebook = "*"

[requires]
python_version = "3.9"
